@font-face {
	font-family: generalFont;
	src: url("../fonts/Montserrat-Regular.ttf") format("truetype"),
}

@font-face {
	font-family: boldFont;
	src: url("../fonts/Montserrat-Bold.ttf") format("truetype"),
}