include pug/libs/_libs


doctype html
html(lang='en')
  include pug/_head
  body
    .container
      //+image('webpack')

      .form-query
        .form-query-title Найдём номера под ваши пожелания
        .form-query-text-arrival прибытие
        .form-query-text-departure выезд

        #form-query-div-arrival.form-query-div
          .text-date-div
            span.text-date-span ДД.ММ.ГГГГ
          .expand_more
            span.material-icons-round expand_more
        #form-query-div-departure.form-query-div
          .text-date-div
            span.text-date-span ДД.ММ.ГГГГ        
          .expand_more
            span.material-icons-round expand_more