include pug/libs/_libs


doctype html
html(lang='en')
  include pug/_head
  body
    .container
      //+image('webpack')

      .form-query
        .form-query-title Найдём номера под ваши пожелания
        .form-query-text-arrival прибытие
        .form-query-text-departure выезд

        #form-query-div-arrival.form-query-div
        #form-query-div-departure.form-query-div
        span.material-icons-round pie_chart