include pug/libs/_libs


doctype html
html(lang='en')
  include pug/_head
  body
    .container
      h1 LOREM
      h2.container__subtitle
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, voluptatum?
      //+image('webpack')

      .block

      .form-query
        .form-query-title Найдём номера под ваши пожелания
        .form-query-text-arrival прибытие
        .form-query-text-departure выезд